<div id="<%= dom_id fare %>">
  <p>
    <strong>Departure:</strong>
    <%= fare.departure %>
  </p>

  <p>
    <strong>Arrival:</strong>
    <%= fare.arrival %>
  </p>

  <p>
    <strong>Distance:</strong>
    <%= fare.distance %>
  </p>

  <p>
    <strong>Fare small:</strong>
    <%= fare.fare_small %>
  </p>

  <p>
    <strong>Fare medium:</strong>
    <%= fare.fare_medium %>
  </p>

  <p>
    <strong>Fare large:</strong>
    <%= fare.fare_large %>
  </p>

</div>
